.footer {
    width: 99vw;
    margin: 0 auto;
    margin-top: 3px;
    padding: 10px 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #0000009c;
}

.footer__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    color: #dddadaf6;
}

.contact {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}