.header-bg {
	width: 99vw;
	height: 58px;
	margin: 0 auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
}

.header {
	width: 100vw;
	padding: 5px 25px 5px 10px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #17381a62;
}

.logo {
	width: 96px;
	height: 48px;

	background-image: url(../img/pic/logo_html_css_js.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.nav-desktop {
	width: 480px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-desktop-link {
	font-size: 18px;
	font-weight: 500;
	color: #000000a1;
}

.nav-desktop-link:hover {
	color: #8431c077;

	border-top: 1px solid #8531c0de;
	border-bottom: 1px solid #8531c0de;
	text-shadow: -1px 1px 2px #a85a08e8;
}

.nav-desktop-btn {
	width: 100px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;

	background-color: aliceblue;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	color: #000;
	text-transform: uppercase;
}

.nav-desktop-btn--footer {
	width: 135px;
}

.nav-desktop-btn:hover {
	color: #65e255f1;
	text-shadow: -1px 1px 2px #a85a08e8;
}

.burger {
	display: none;
}

.burger-img {
	width: 20px;
	height: 20px;
	display: none;

	position: relative;

	cursor: pointer;

	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

.burger-img::after {
	content: '';
	width: 10px;

	position: absolute;
	top: 5px;
	left: 5px;
	border-top: 3px solid #000;
}

.burger-img:hover {
	border-top: 3px solid #b49509;
	border-bottom: 3px solid #b49509;
}

.burger-img:hover:after {
	border-top: 3px solid #b49509;
}

.nav-mobile {
	width: 100vw;
	height: 100vh;
	padding-top: 15%;
	text-align: center;
	display: none;

	position: absolute;
	top: 58px;
	right: -650px;

	background-color: #b6a1a167;
}

.burger:checked ~ .nav-mobile {
	right: 0;
}

.burger:checked ~ .burger-img {
	border: none;
}

.burger:checked ~ .burger-img::after {
	content: '+';

	position: absolute;
	top: 3px;
	left: 0px;

	font-size: 40px;
	font-weight: 500;
	line-height: 5px;
	color: #086504;

	border: none;
}

.burger:checked ~ .nav-mobile {
	display: flex;
	justify-content: center;
}

.menu-mobile__link {
	/* padding-left: 20px; */
	display: block;

	position: relative;

	font-size: 20px;
	font-weight: 500;
	line-height: 35px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px #363535;
}

.menu-mobile__link:hover {
	background-color: #e0ba12;
}



@media (max-width:605px) {
	.nav-desktop,
	.nav-desktop-link,
	.nav-desktop-btn {display: none;}


	.burger-img {display: block;}
}
