.popup-contact {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: #90a17880;
    backdrop-filter: blur(3px);
}

.popup-contact__table {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: -4px 7px 25px #60615dd3;
    background-color: rgba(241, 239, 236, 0.836);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.popup-contact__close {
    position: absolute;
    top: -20px;
    right: 8px;

    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    color: #5d138fd3;
}

.popup-contact__close:hover,
.popup-contact__close:active {
    font-weight: 400;
    color: #e61212e3;
}

.popup-contact__title {
    text-align: center;

    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.popup-contact__form {
    width: 85%;
}

.popup-contact__textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 5px;
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: 300;
    color: #002663cc;
}

.popup-contact__textarea:focus {
    outline: none;
}

.input-box {
    width: 100%;
    position: relative;
}

.popup-contact__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;

    background-color: rgba(236, 233, 228, 0.64);
    border: none;
    border-bottom: 1px solid #222220da;
    outline: none;

    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #061442;
    text-align: center;
}

.popup-contact__label {
    position: absolute;
    top: 8px;
    left: 3px;

    font-size: 14px;
    font-weight: 300;
    color: #007227;
}

.popup-contact__input:focus ~ .popup-contact__label,
.popup-contact__input:valid ~ .popup-contact__label {
    top: -5px;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
}

.popup-contact__btn {
    width: 110px;

    border: 1px solid #576491f6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: -5px 2px 20px #57649178;

    font-size: 13px;
    text-transform: uppercase;
}

.popup-contact__btn:hover {
    background-color: #ced8f7;
}

@media (max-width:600px) {
    .popup-contact__table {
        width: 80%;
    }
}

@media (max-width:490px) {
    .popup-contact__title {font-size: 14px;}

    .popup-contact__label {
        font-size: 10px;
        top: 13px;
    }

    .popup-contact__input:focus ~ .popup-contact__label,
.popup-contact__input:valid ~ .popup-contact__label {
    font-size: 7px;
}
}